<div
  class="absolute bottom-0 py-2 px-4 bg-white rounded-t-xl text-sm text-center font-medium"
>
  Challenge by <a
    href="https://www.frontendmentor.io?ref=challenge"
    target="_blank"
    class="underline hover:no-underline text-orange-600">Frontend Mentor</a
  >
  <br />Coded by <a
    href="https://midka.dev"
    class="underline hover:no-underline text-orange-600">Midka</a
  >
</div>
