---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Frontend Mentor | QR code component"
  class="bg-d6e2f0 flex items-center justify-center min-h-screen"
>
  <section
    class="font-['Outfit'] bg-white w-72 rounded-lg p-4 flex flex-col gap-4"
  >
    <img
      src="./qr-code-component/image-qr-code.png"
      alt="qr-code"
      class="rounded-lg"
    />
    <h1 class="font-bold text-center text-1f3251">
      Improve your front-end skills by building projects
    </h1>
    <p class="text-[15px] text-center font-normal text-7b879d">
      Scan the QR code to visit Frontend Mentor and take your coding skills to
      the next level
    </p>
  </section>
</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
</style>
